<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Calculator tool for the AH flipping on Hypixel Skyblock">
    <title>Hypixel skyblock AH flipping calculator</title>
    
    <!-- icon -->
    <link rel="shortcut icon" href="/img/icon.ico">

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Main Style -->
    <link rel="stylesheet" type="text/css"   href="/css/style.css">
</head>
<body>

    <nav class="navbar fixed-top navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/img/icon.ico" alt="logo" class="logo">
            </a>

            <a class="nav-link first-nav-link nav-link-active" href="#">Home</a>
            <a class="nav-link nav-link-inactive" href="/armor">Armor</a>
            <a class="nav-link nav-link-inactive" href="/weapon">Weapon</a>
            <a class="nav-link nav-link-inactive" href="/tools">Tools</a>
            <a class="nav-link nav-link-inactive" href="/misc">Other</a>

            <a class="nav-link github-link nav-link-inactive" href="https://github.com/young-tea">My github</a>
        </div>
    </nav>

    <div class="margin-10"></div>

    <div class="container-fluid content">

        <div class="row">

            <div class="col-lg-2"></div>
            
            <div class="col-lg-8">
            
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col-lg-3">
                        <div class="card h-100 shadow-lg">
                            <a href="items/tools/jungle-axe"><img src="/img/jungle-axe.png" class="card-img-top" alt="jungle axe"></a>
                            <div class="card-body">
                                <h5 class="card-title text-center"><a href="/items/tools/jungle-axe">Jungle axe</a></h5>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3">
                        <div class="card h-100 shadow-lg">
                            <a href=""><img src="/img/jungle-axe.png" class="card-img-top" alt="jungle axe"></a>
                            <div class="card-body">
                                <h5 class="card-title text-center"><a href="">Jungle axe</a></h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card h-100 shadow-lg">
                            <a href=""><img src="/img/jungle-axe.png" class="card-img-top" alt="jungle axe"></a>
                            <div class="card-body">
                                <h5 class="card-title text-center"><a href="">Jungle axe</a></h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card h-100 shadow-lg">
                            <a href=""><img src="/img/jungle-axe.png" class="card-img-top" alt="jungle axe"></a>
                            <div class="card-body">
                                <h5 class="card-title text-center"><a href="">Jungle axe</a></h5>
                            </div>
                        </div>
                    </div>

                </div>
            
            </div>
            
            <div class="col-lg-2"></div>

        </div>

    </div>
    
</body>
</html>